@main("Credits") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/credits.css")">

    <body>
        <h6>Plugins and Assets used:</h6>
        <div>
            <p>JS Phaser:<br>
                Copyright © 2017 Richard Davey, Photon Storm Ltd.</p>
            <p>JS Slick UI:<br>
                Copyright Phaser-plugin by ikkewa under MIT license, fork of bower.json [at]flaxis/slick-ui</p>
            <p>Font Minecraftia:<br>
                created by Andrew Tyler <a href="www.AndrewTyler.net"> www.AndrewTyler.net</a> and font[at]andrewtyler.net, hosted at <a href="http://www.dafont.com/minecraftia.font"> http://www.dafont.com/minecraftia.font</a>
            </p>
            <p>Font PARPG:<br>
                Hosted at <a href="http://opengameart.org/content/old-typewriter-font"> http://opengameart.org/content/old-typewriter-font</a> by User Q_x <a href="http://opengameart.org/users/qx"> http://opengameart.org/users/qx</a></p>
            <p>Sounds:<br>
                Some of the sounds in this project were created by David McKee (ViRiX) <a href="soundcloud.com/virix">soundcloud.com/virix</a>
                <br><a href="www.kenney.nl"> www.kenney.nl</a></p>
            <p>Sounds keypresses:<br>
                Copyright 2012 eklee <a href="http://freesound.org/people/eklee/"> http://freesound.org/people/eklee/</a> |
                <br> Copyright 2012 qubodup <a href="http://freesound.org/people/qubodup/">http://freesound.org/people/qubodup/</a>  extraction of single sounds |
                <br> License: CC Attribution 3.0 <a href="http://creativecommons.org/licenses/by/3.0/"> http://creativecommons.org/licenses/by/3.0/</a>
            </p>
            <p>Music:<br>
                "A Journey Awaits" by Pierre Bondoerffer ([at]pbondoer)
            </p>
            <p>Background:<br>
                <a href="http://de.freepik.com/fotos-kostenlos/buroarbeit_925201.htm"> http://de.freepik.com/fotos-kostenlos/buroarbeit_925201.htm</a> - Freepik - created by whatwolf
            </p>
            <p>Collection Kenney's UI:<br>
                <a href="http://kenney.nl/assets/ui-pack"> http://kenney.nl/assets/ui-pack</a>
            </p>
        </div>
    </body>
}
